// Font imports from google fonts
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aleo:wght@300;400&display=swap');

// Font variables
$abel: 'Abel',
sans-serif;
$aleo: 'Aleo',
serif;

// Colors
$white: #ffff;
$black: #000000;
$burn: #BC8635;

// Media queries and SCSS mixins, used for mobile and tablet
// responsive design requirements
$desktop: 1366px;
$tablet: 768px;
$mobile: 414px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}


// Body styling to remove margins and padding and also
// apply animation so page fades in on load
body {
    margin: 0;
    padding: 0;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Header stylings
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    z-index: 1;

    @include tablet() {
        justify-content: space-between;
    }

    @include desktop() {
        justify-content: space-between;
    }

    h1 {
        margin-left: 15px;
        font-family: $abel;
        font-size: 18px;

        @include desktop() {
            font-size: 36px;
        }
    }

    a {
        cursor: pointer;
        z-index: 1;
        text-decoration: none;
        color: $black;
    }
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn:hover {
    background-color: $white;
}

#body {
    transition: margin-left .5s;
    /* If you want a transition effect */

    @include mobile() {
        .sidebar {
            padding-top: 20px;
        }

        .sidebar a {
            font-size: 18px;
        }
    }
}

section {

    font-family: $aleo;

    img {
        width: 100%;
        z-index: -1;
        margin-top: -20%;
        mix-blend-mode: darken;
        opacity: 0.3;
        position: relative;

    }

    h2 {
        position: absolute;
        color: #5B3C0C;
        top: 10%;

        @include desktop() {
            font-size: 48px;
            top: 15%;
            left: 40%;
        }
    }

    p {
        color: #5B3C0C;
        position: absolute;
        top: 20%;

        @include desktop() {
            font-size: 36px;
            top: 40%;
            left: 10%;
        }
    }

    form {
        color: #5B3C0C;
        top: 30%;
        left: 10%;
        position: absolute;

        @include desktop() {
            font-size: 36px;
            top: 60%;

            input {
                font-size: 36px;

                .submitbutton {
                    font-size: 36px;
                }
            }
        }
    }
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    background-color: $black;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: $abel;
    margin-top: -5px;
    border-top: 2px solid $burn;

    @include desktop() {
        font-size: 36px;
        line-height: 150%;
        word-spacing: 15%;
    }

    img {
        width: 100%;
    }

    p {
        margin: 0;
        color: $burn;
    }

    a {
        margin-left: 2px;
        color: red;

        @include desktop() {
            margin-left: 5%;
        }
    }
}




// Footer styling
footer {
    background-color: $black;
    color: $burn;
    font-family: $abel;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70vh;
    border-top: 2px solid $burn;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        height: 30vh;
    }

    @include mobile() {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $burn;
    }

    a:hover {
        color: $white;
    }

    form {
        display: inline-block;
        justify-content: center;
    }

    .about {
        padding-top: 40px;
        background-color: $black;

        a:first-child {
            margin-left: 3%;
        }

        a {
            margin-right: 3%;
        }
    }
}