@import url("https://fonts.googleapis.com/css2?family=Abel&family=Aleo:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin-left: 10%;
  z-index: 2;
}

@media (max-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1366px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -15px;
  }
}

header h1 {
  margin-left: 15px;
  font-family: "Abel", sans-serif;
  font-size: 18px;
  z-index: 2;
  color: #BC8635;
}

@media (min-width: 1366px) {
  header h1 {
    font-size: 36px;
  }
}

header a {
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
  color: #000000;
}

header img {
  z-index: 2;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons.md-48 {
  font-size: 48px;
  color: #f1f1f1;
}

.openbtn:hover {
  background-color: #000000;
}

#body {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  /* If you want a transition effect */
}

@media (max-width: 414px) {
  #body .sidebar {
    padding-top: 20px;
  }
  #body .sidebar a {
    font-size: 18px;
  }
}

section {
  font-family: "Aleo", serif;
  color: #000000;
  margin-top: -30%;
}

section img {
  width: 100%;
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

section h1 {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #BC8635;
}

@media (min-width: 1366px) {
  section h1 {
    top: 40%;
    font-size: 84px;
    font-weight: 400;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2em;
  background-color: #000000;
  color: #BC8635;
  text-align: center;
  font-family: "Aleo", serif;
  font-weight: 300;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: -5px;
  border-top: 2px solid #BC8635;
  border-bottom: 2px solid #BC8635;
}

@media (min-width: 1366px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  main p {
    font-size: 32px;
    border-right: 1px solid #BC8635;
  }
  main p:last-child {
    border-right: none;
  }
}

@media (max-width: 414px) {
  main p {
    padding-bottom: 50px;
    padding-top: 5%;
    border-bottom: 2px solid #BC8635;
  }
  main p:first-child {
    padding-top: 15%;
  }
  main p:last-child {
    border-bottom: none;
  }
}

article {
  background-color: #000000;
  color: #BC8635;
  font-family: "Aleo", serif;
  text-align: center;
  padding-top: 15%;
}

@media (min-width: 1366px) {
  article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
  }
}

article h2 {
  border-top: 2px solid #BC8635;
  padding-top: 5%;
}

@media (min-width: 1366px) {
  article h2 {
    padding-top: 0;
    font-size: 56px;
    font-weight: 400;
    border-top: none;
  }
}

article form {
  font-size: 24px;
}

@media (min-width: 1366px) {
  article form {
    text-align: start;
    font-size: 36px;
    padding-left: 10%;
    padding-top: 25%;
  }
  article form input {
    font-size: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#map {
  height: 60vh;
  width: 100%;
}

footer {
  background-color: #000000;
  color: #BC8635;
  font-family: "Abel", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  height: 70vh;
  border-top: 2px solid #BC8635;
}

@media (min-width: 1366px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30vh;
  }
}

@media (max-width: 414px) {
  footer {
    text-align: center;
  }
}

footer a {
  text-decoration: none;
  color: #BC8635;
}

footer a:hover {
  color: #ffff;
}

footer form {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .about {
  padding-top: 40px;
  background-color: #000000;
}

footer .about a:first-child {
  margin-left: 3%;
}

footer .about a {
  margin-right: 3%;
}
/*# sourceMappingURL=contact.css.map */