// Font imports from google fonts
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aleo:wght@300;400&display=swap');

// Font variables
$abel: 'Abel',
sans-serif;
$aleo: 'Aleo',
serif;

// Colors
$white: #ffff;
$black: #000000;
$burn: #BC8635;

// Media queries and SCSS mixins, used for mobile and tablet
// responsive design requirements
$desktop: 1366px;
$tablet: 768px;
$mobile: 414px;

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}


// Body styling to remove margins and padding
body {
    margin: 0;
    padding: 0;
}

// Header stylings
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h1 {
        font-family: $abel;
    }

    .header-underline {
        left: 1.06%;
        right: 0.91%;
        top: 52.08%;
        bottom: 47.92%;
        border: 1px solid #C4C4C4;
        margin-top: 0;
    }
}

.home-video {
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    position: relative;
}

.home-banner {
    mix-blend-mode: darken;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;

    img {
        width: 100%;
        z-index: -1;
        height: 80%;
    }

    h1:first-child {
        position: absolute;
        left: 15%;
        color: $black;
    }

    h1:last-child {
        position: absolute;
        color: $black;
    }
}

main {
    font-family: $aleo;
    width: 100%;
    background-color: $black;
    color: $burn;
    padding-top: 5%;
    padding-bottom: 5%;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

article {
    font-family: $aleo;
    width: 100%;
    background-color: $black;
    color: $burn;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;

    .article-left {
        width: 50%;
    }

    .article-right {
        width: 50%;

        img {
            width: 100%;
            height: 25vh;
        }
    }
}

.featured {
    background-color: $white;

    h2 {
        color: $burn;
        font-family: $aleo;
    }

    img {
        width: 100%;
    }
}

.who-are-we {
    font-family: $aleo;
    color: $burn;
    background-color: $black;

    img {
        width: 100%;
        height: 300px;
    }
}

.why-choose-us {

    font-family: $aleo;
    color: $burn;
    margin-bottom: 10px;

    display: grid;
    width: 100%;
    grid-gap: 1rem;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas: ". a ."
        "b . c"
        ". d ."
        "e . f"
        ". g .";

    @include mobile() {

    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 300px;
    grid-template-areas: "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g";
    }
    
a {
    border: 2px solid $burn;
    text-decoration: none;
    color: $burn;
    text-align: center;
    }
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}


// Footer styling
footer {
    background-color: $black;
    color: $burn;
    font-family: $abel;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 45vh;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: $burn;
    }

    a:hover {
        color: $white;
    }
}