// Font imports from google fonts
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aleo:wght@300;400&display=swap');

// Font variables
$abel: 'Abel',
sans-serif;
$aleo: 'Aleo',
serif;

// Colors
$white: #ffff;
$black: #000000;
$burn: #BC8635;

// Media queries and SCSS mixins, used for mobile and tablet
// responsive design requirements
$desktop: 1366px;
$tablet: 768px;
$mobile: 414px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}


// Body styling to remove margins and padding
body {
    margin: 0;
    padding: 0;
}

// Header stylings
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;

    @include tablet() {
        justify-content: space-between;
    }

    @include desktop() {
        justify-content: space-between;
    }

    h1 {
        margin-left: 15px;
        font-family: $abel;
        font-size: 18px;

        @include desktop() {
            font-size: 36px;
        }
    }
}

.home-video {
    font-family: $aleo;
    color: $black;
    margin-bottom: 0;
    padding: 0;

    .video-text-1 {
        position: absolute;
        top: 15%;
        left: 15%;
        text-align: center;
        z-index: 1;

        @include desktop() {
            font-size: 56px;
            top: 25%;
            left: 25%;
        }
    }

    .video-text-2 {
        position: absolute;
        top: 25%;
        left: 15%;
        text-align: center;
        z-index: 1;

        @include desktop() {
            font-size: 56px;
            left: 25%;
            top: 45%;
        }
    }

    video {
        width: 100%;
        height: auto;
        display: inline-block;
        opacity: 0.5;
    }
}

.home-banner {

    margin-top: -5px;

    img {
        display: inline-block;
        width: 100%;
        height: auto;
        mix-blend-mode: darken;
        opacity: 0.4;
        width: 100%;
        position: relative;
    }

    font-family: $aleo;
    color: $black;

    .home-banner-1 {
        position: absolute;
        top: 50%;
        left: 5%;

        @include desktop() {
            left: 5%;
            top: 160%;
            font-size: 28px;
        }
    }

    .home-banner-2 {
        position: absolute;
        top: 55%;
        left: 5%;

        @include desktop() {
            left: 5%;
            top: 170%;
            font-size: 28px;
        }
    }

    .home-banner-3 {
        position: absolute;
        top: 60%;
        left: 5%;


        @include desktop() {
            left: 5%;
            top: 180%;
            font-size: 28px;
        }
    }

    a {
        position: absolute;
        text-decoration: none;
        top: 70%;
        left: 70%;
        border: 2px solid $burn;
        border-radius: 5px;
        background-color: $burn;
        padding: 5px 10px;
        color: $black;
        font-family: $aleo;
        color: $black;
        z-index: 1;

        @include desktop() {
            top: 170%;
            left: 70%;
            font-size: 28px;
        }
    }
}

main {
    margin-top: -5px;
    font-family: $aleo;
    width: 100%;
    background-color: $black;
    color: $burn;
    padding-top: 5%;
    padding-bottom: 5%;

    @include desktop() {
        font-size: 32px;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;

        @include desktop() {
            width: 80%;
            margin-left: 10%;
            text-align: left;
        }
    }
}

article {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border-top: 1px solid $burn;
    font-family: $aleo;
    width: 100%;
    background-color: $black;
    color: $burn;

    @include desktop() {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 28px;

        @include desktop() {
            font-size: 48px;
        }
    }

    p {
        font-size: 14px;

        @include desktop() {
            font-size: 24px;
        }
    }
}





.featured {
    background-color: $white;

    h2 {
        color: $burn;
        font-family: $aleo;
    }

    img {
        width: 100%;
    }
}

.who-are-we {
    font-family: $aleo;
    color: $burn;
    background-color: $black;

    img {
        width: 100%;
        height: 300px;
    }
}

.why-choose-us {

    font-family: $aleo;
    color: $burn;
    margin-bottom: 10px;

    display: grid;
    width: 100%;
    grid-gap: 1rem;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas: ". a ."
        "b . c"
        ". d ."
        "e . f"
        ". g .";

    @include mobile() {

        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 300px;
        grid-template-areas: "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g";
    }

    a {
        border: 2px solid $burn;
        text-decoration: none;
        color: $burn;
        text-align: center;
    }
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}


// Footer styling
footer {
    background-color: $black;
    color: $burn;
    font-family: $abel;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 45vh;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: $burn;
    }

    a:hover {
        color: $white;
    }
}