@import url("https://fonts.googleapis.com/css2?family=Abel&family=Aleo:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin-left: 10%;
  z-index: 1;
}

@media (max-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1366px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header h1 {
  margin-left: 15px;
  font-family: "Abel", sans-serif;
  font-size: 18px;
}

@media (min-width: 1366px) {
  header h1 {
    font-size: 36px;
  }
}

header a {
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  color: #000000;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #ffff;
}

#body {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  /* If you want a transition effect */
}

@media (max-width: 414px) {
  #body .sidebar {
    padding-top: 20px;
  }
  #body .sidebar a {
    font-size: 18px;
  }
}

.home-video {
  font-family: "Aleo", serif;
  color: #000000;
  margin-bottom: 0;
  padding: 0;
  margin-top: -20%;
  z-index: -1;
}

.home-video .video-text-1 {
  position: absolute;
  top: 10%;
  left: 15%;
  text-align: center;
  z-index: 1;
}

@media (min-width: 1366px) {
  .home-video .video-text-1 {
    font-size: 56px;
    top: 25%;
    left: 25%;
  }
}

.home-video .video-text-2 {
  position: absolute;
  top: 15%;
  left: 15%;
  text-align: center;
  z-index: 1;
}

@media (min-width: 1366px) {
  .home-video .video-text-2 {
    font-size: 56px;
    left: 25%;
    top: 45%;
  }
}

.home-video video {
  width: 100%;
  height: auto;
  display: inline-block;
  opacity: 0.5;
}

.home-banner {
  margin-top: -5px;
  font-family: "Aleo", serif;
  color: #000000;
}

.home-banner img {
  margin-top: -1px;
  display: inline-block;
  width: 100%;
  height: auto;
  mix-blend-mode: darken;
  opacity: 0.4;
  width: 100%;
  position: relative;
}

.home-banner .home-banner-1 {
  position: absolute;
  top: 40%;
  left: 5%;
}

@media (min-width: 1366px) {
  .home-banner .home-banner-1 {
    left: 5%;
    top: 160%;
    font-size: 28px;
  }
}

.home-banner .home-banner-2 {
  position: absolute;
  top: 45%;
  left: 5%;
}

@media (min-width: 1366px) {
  .home-banner .home-banner-2 {
    left: 5%;
    top: 170%;
    font-size: 28px;
  }
}

.home-banner .home-banner-3 {
  position: absolute;
  top: 50%;
  left: 5%;
}

@media (min-width: 1366px) {
  .home-banner .home-banner-3 {
    left: 5%;
    top: 180%;
    font-size: 28px;
  }
}

.home-banner a {
  position: absolute;
  text-decoration: none;
  top: 60%;
  left: 70%;
  border: 2px solid #BC8635;
  border-radius: 5px;
  background-color: #BC8635;
  padding: 5px 10px;
  color: #000000;
  font-family: "Aleo", serif;
  color: #000000;
  z-index: 1;
}

@media (min-width: 1366px) {
  .home-banner a {
    top: 170%;
    left: 70%;
    font-size: 28px;
  }
}

main {
  margin-top: -5px;
  font-family: "Aleo", serif;
  width: 100%;
  background-color: #000000;
  color: #BC8635;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (min-width: 1366px) {
  main {
    font-size: 32px;
  }
}

main h2 {
  text-align: center;
}

main p {
  text-align: center;
}

@media (min-width: 1366px) {
  main p {
    width: 80%;
    margin-left: 10%;
    text-align: left;
  }
}

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  border-top: 1px solid #BC8635;
  font-family: "Aleo", serif;
  width: 100%;
  background-color: #000000;
  color: #BC8635;
}

@media (min-width: 1366px) {
  article {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

article img {
  width: 100%;
}

article h1 {
  font-size: 28px;
}

@media (min-width: 1366px) {
  article h1 {
    font-size: 48px;
  }
}

article p {
  font-size: 14px;
}

@media (min-width: 1366px) {
  article p {
    font-size: 24px;
  }
}

.featured {
  background-color: #ffff;
  text-align: center;
}

@media (min-width: 1366px) {
  .featured {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "h h h h" "i j k l";
    grid-gap: 1em;
    padding-bottom: 5%;
  }
}

.featured h2 {
  color: #BC8635;
  font-family: "Aleo", serif;
}

@media (min-width: 1366px) {
  .featured h2 {
    font-size: 42px;
  }
}

.featured img {
  width: 100%;
}

.featured1 {
  grid-area: h;
}

.featured2 {
  grid-area: i;
}

.featured3 {
  grid-area: j;
}

.featured3 {
  grid-area: k;
}

.featured3 {
  grid-area: l;
}

.who-are-we {
  font-family: "Aleo", serif;
  color: #BC8635;
  background-color: #000000;
  padding-bottom: 5%;
  border-bottom: 2px solid #BC8635;
}

.who-are-we h2 {
  margin-left: 5%;
  font-size: 32px;
}

.who-are-we p {
  font-size: 16px;
  font-weight: 300;
  padding-right: 2%;
}

@media (min-width: 1366px) {
  .who-are-we p {
    font-size: 24px;
    width: 90%;
  }
}

@media (min-width: 1366px) {
  .who-are-we {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.who-are-we img {
  width: 100%;
  height: 300px;
}

@media (min-width: 1366px) {
  .who-are-we img {
    height: 100%;
  }
}

.why-choose-us {
  font-family: "Aleo", serif;
  color: #BC8635;
  margin-bottom: 10px;
  color: #5b482b;
  padding-top: 5%;
  padding-bottom: 5%;
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
      grid-template-areas: ". a ." "b . c" ". d ." "e . f" ". g .";
}

@media (max-width: 414px) {
  .why-choose-us {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: auto;
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
        grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
  }
}

.why-choose-us h2 {
  text-align: center;
}

.why-choose-us p {
  font-weight: 300;
  text-align: center;
}

.why-choose-us a {
  border: 2px solid #5b482b;
  text-decoration: none;
  color: #BC8635;
  text-align: center;
  color: #5b482b;
}

.a {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a;
}

.b {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.c {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: c;
}

.d {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: d;
}

.e {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: e;
}

.f {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: f;
}

.g {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: g;
}

footer {
  background-color: #000000;
  color: #BC8635;
  font-family: "Abel", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  height: 70vh;
}

@media (min-width: 1366px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30vh;
  }
}

@media (max-width: 414px) {
  footer {
    text-align: center;
  }
}

footer a {
  text-decoration: none;
  color: #BC8635;
}

footer a:hover {
  color: #ffff;
}

footer form {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .about {
  padding-top: 40px;
  background-color: #000000;
}

footer .about a:first-child {
  margin-left: 3%;
}

footer .about a {
  margin-right: 3%;
}
/*# sourceMappingURL=index.css.map */