// Font imports from google fonts
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aleo:wght@300;400&display=swap');

// Font variables
$abel: 'Abel',
sans-serif;
$aleo: 'Aleo',
serif;

// Colors
$white: #ffff;
$black: #000000;
$burn: #BC8635;

// Media queries and SCSS mixins, used for mobile and tablet
// responsive design requirements
$desktop: 1366px;
$tablet: 768px;
$mobile: 414px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}


// Body styling to remove margins and padding
body {
    margin: 0;
    padding: 0;
}

// Header stylings
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;

    @include tablet() {
        justify-content: space-between;
    }

    @include desktop() {
        justify-content: space-between;
    }

    h1 {
        margin-left: 15px;
        font-family: $abel;
        font-size: 18px;

        @include desktop() {
            font-size: 36px;
        }
    }
}

section {

    margin-top: -5px;

    img {
        display: inline-block;
        width: 100%;
        height: auto;
        mix-blend-mode: darken;
        opacity: 0.4;
        width: 100%;
        position: relative;
        margin-top: -70px;

        @include tablet {
            margin-top: -90px;
            height: 80vh;
        }

        @include desktop {
            margin-top: -90px;
            height: 100vh;
        }
    }

    font-family: $aleo;
    color: $black;

    .banner-1 {
        position: absolute;
        top: 10%;
        left: 5%;

        @include desktop() {
            left: 5%;
            top: 30%;
            font-size: 28px;
        }
    }

    .banner-2 {
        position: absolute;
        top: 15%;
        left: 5%;

        @include desktop() {
            left: 5%;
            top: 40%;
            font-size: 28px;
        }
    }

    .banner-3 {
        position: absolute;
        top: 20%;
        left: 5%;


        @include desktop() {
            left: 5%;
            top: 50%;
            font-size: 28px;
        }
    }

    a {
        position: absolute;
        text-decoration: none;
        top: 27.5%;
        left: 70%;
        border: 2px solid $burn;
        border-radius: 5px;
        background-color: $burn;
        padding: 5px 10px;
        color: $black;
        font-family: $aleo;
        color: $black;
        z-index: 1;

        @include desktop() {
            top: 52.5%;
            left: 80%;
            font-size: 28px;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -22px;
    grid-gap: 0;

    @include desktop {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
    }

    p {
        margin: 0;
        padding: 15px;
        font-family: $aleo;
        color: $burn;
        background-color: $black;
        text-align: center;
        margin-bottom: 10px;

        @include desktop() {
            margin-bottom: 0px;
            border-bottom: 2px solid $burn;
            font-size: 28px;
            text-align: right;
            line-height: 2em;
            word-spacing: .25em;
            padding-top: 10%;
        }
    }

    img {
        width: 100%;
        margin-top: -20px;
        border-bottom: 2px solid $burn;

        @include desktop() {
            margin-top: 0px;
            width: 100%;
            height: 700px;
        }
    }
}


article {
    font-family: $aleo;
    color: $burn;
    background-color: $black;
    text-align: center;
    border-bottom: 2px solid $burn;

    @include desktop() {
        text-align: left;
    }

    h2 {
        margin: 0;
        padding-top: 5%;
        padding-bottom: 5%;
        text-decoration: underline;

        @include desktop() {
            text-align: center;
            font-size: 42px;
        }
    }

    p {
        margin: 0;
        padding-bottom: 5%;

        @include desktop() {
            font-size: 18px;
            margin-left: 25%;
            margin-right: 25%;
        }
    }
}




// Footer styling
footer {
    background-color: $black;
    color: $burn;
    font-family: $abel;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70vh;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        height: 30vh;
        padding-left: 5%;
    }

    a {
        text-decoration: none;
        color: $burn;
    }

    a:hover {
        color: $white;
    }

    form {
        display: inline-block;
        justify-content: center;
    }

    .about {
        padding-top: 40px;
        background-color: $black;

        a:first-child {
            margin-left: 3%;
        }

        a {
            margin-right: 3%;
        }
    }
}